{{define "footer"}}

    <div class="row">
      <div class="col-md-12">
        <div id="footer" >

<center> &copy; {{.Copyright}}</center>         
        </div>
      </div>
    </div>
 </div>
  </body>
</html>
{{end}}