{{define "header"}}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <title dir="ltr">{{.Header}} - Application</title>
 <link rel="stylesheet" href="/css/bootstrap.css">
    

  </head>
  <body>

   <div class='container well' style="margin-top:50px;">
       {{template "bar" .}}
    
{{end}}