{{template "header" .}}
<div class="row">
  <div class="col-md-12" style="margin-top:30px;margin-bottom:50px;">
    <center>Welcome to Demo Application</center>
  </div>
</div>
{{template "footer" .}}