{{template "header" .}}
<div class="row">

 {{range $h := .levels}}
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">      
  

          <!-- PRICE ITEM -->
          <div class="panel price panel-red">
            <div class="panel-heading  text-center">
            <img src="/images/{{$h.filename}}"/>
            </div>
            
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> {{$h.title}}</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> {{$h.price}}</li>
           
            </ul>
            
          </div>
          <!-- /PRICE ITEM -->
                  
        </div>
        {{end}}
        
       
</div>
{{template "footer" .}}